.snakemake/
bams/
raw_fastqc_reports/
raw_fastqs/
trimmed_fastqc_reports/
trimmed_fastqs/
trimmed_fastp_reports/
hisat_index/grch38_tran/
strand/
*.csv
!de_analysis/*.csv
de_analysis/expandedContrasts_AllTestData_tpm_counts.csv
!overrepresented_sequences.csv
!updated_sampleNames_map.csv